.content {
    min-height: 600px;
    padding-top: 20px;
}

a:focus {
    outline: none !important;
}

.masthead.main {
    background-image: url('../images/mainbg.jpg');
    background-position: 50% 50%;
    background-size: cover;
    min-height: 200px;
    color: #FFFFFF;
}

.masthead.main a {
    color: #FFFFFF;
}

.masthead.main a:hover {
    color: #000000;
}

.masthead .search_top {
    padding: 40px 0px;
}

.masthead .heading {
    text-align: center;
}

#advancedSearch {
    margin-top: 20px;
}

.categs {
    color: #919295;
    font-weight: bold;
    text-align: center;
}

.categs .fa {
    font-size: 3em;
}

.categs.arts {
    color: #C9302C;
}

.categs.science {
    color: #286090;
}

.categs.social {
    color: #449D44;
}

.issue-cover {}

div.issue-cover .img-polaroid {
    display: inline-block;
    margin: 0px auto;
}

.issue-cover img {
    width: 315px;
    height: 445px;
}

.issue-cover .no-image {
    background-color: #CCCCCC;
    background-image: url('../images/mainbg.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    width: 315px;
    height: 445px
}

.no-image span {
    display: inline-block;
    margin-top: 50%;
    font-size: 30px;
    transform: rotate(-30deg);
}

.article_main.bs-callout {
    padding-bottom: 60px;
}

.article_main h1 {
    font-weight: bold;
    color: #222;
}

.article_main h3 {
    font-style: italic;
}

.article_main p {
    text-indent: 40px;
}

.article_main p:first-letter {
    font-weight: bold;
    font-size: 40px;
}

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 20px;
}
.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout + .bs-callout {
    margin-top: -5px;
}
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-info h4 {
    color: #1b809e;
}

.form-control {
    width: 50%;
}


/* Footer */

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}


/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}
